.header{
    padding: 30px;
    color: wheat;
    text-align: center;
    background-color: rgb(24, 22, 46);
    align-items: center;
}
.MenuItems{
    background-color: brown;
    width: 100px;
    padding: 20px;
}
p{
    color: cornflowerblue;
}


   
